*{
    margin:0;
    padding:0;
  }
  
  h4 {
    font-size: 16px; 
  }
  
  p {
    font-size: smaller;
    color: black;
  }
  
 
  .barnew
  {
    box-shadow: 0 1px 1px #ccc;
    border-radius: 2px;
    width: 100px;
    padding: 14px;
    margin: 4px auto 3px;
    position:relative;
  }
  

  
  ul{
    list-style: none;
    width: 425px;
    margin: 0 auto;
    text-align: left;
  }
  
  ul li{
    background: #ddd;
    border-bottom: 3px solid whitesmoke;
    padding: 5px;
    overflow: hidden;
  }
  
  ul li p{
    text-align: center;
    font-weight: bold;
    padding-top: 7px;
  }

  table {
  width: 100%;
}
.active-pink input[type=search] {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
    }

    .example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.searchin
{
    height:auto;
    background-color: rgb(219, 219, 248);
    line-height: 25px;
    height:25px;
}
.forinput
{
    display:table-cell;
    width: 75%;
}
.form-group input{
  width:250px;
  height: 25px
}

.search
{
    margin-left: 15px;
    margin-right: 15px;
    border:1px solid rgb(0, 82, 150);
    height: 25%;
}

 